.logo {
  position: relative;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 54rem;

  @include respond(tab-port) {
    width: 47rem;
  }

  @include respond(phone) {
    width: 38rem;    
  }

  @include respond(phone-small) {
    width: 33rem;    
  }
}

.characters-content {
  display: flex;
  flex-wrap: wrap;
}

.card {
    background-color: rgba(255, 255, 255, 0.6);
    width: 23%;
    margin: 1%;
    padding: 1.5%;
    border-radius: 3px;
    transition: .3s all;
    cursor: pointer;
    position: relative;
    text-align: center;

    @include respond(tab-port) {
      width: 31.3%;
      margin: 1%;
    }

    @include respond(phone) {
      width: 46%;
      margin: 2%;
      padding: 3%;
    }

    @include respond(phone-small) {
      width: 90%;
      margin: 3% 5%;
    }
    
    &:hover {
      background-color: rgba(46,204,113, 0.8);
    }

    &__img {
        width: 100%;
    }

    &__bookmark {
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: 4rem;
      z-index: 1;
    }

    &__name {
        font-size: 2.1rem;
        margin-top: 6px;

        @include respond(phone) {
          font-size: 2.3rem;
        }
    }
}


.details {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .8);
  width: 65%;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 4px;
  overflow: hidden;

  @include respond(tab-port) {
    width: 80%;     
  }

  @include respond(phone) {
    width: 100%;
  }

  @include respond(phone-small) {
    display: block;
    width: 80%;
  }

  &__img {
    width: 45%;

    @include respond(phone-small) {
      width: 100%;
    }
  }

  &__info {
    padding: 3rem;
    flex-grow: 1;

    @include respond(tab-port) {
      padding: 2rem;      
    }
  }

  &__text {
    margin-bottom: 1rem;

    @include respond(tab-port) {
      width: 80%;    
      font-size: 1.9rem; 
    }

    @include respond(phone-small) {
      margin-bottom: 5px;      
    }
  }
}



.bookmark {
  position: relative;
  text-align: right;

  &__container {
    display: inline-block;
    margin-right: 2rem;

    &:hover .bookmark__box {
      display: block;
    }
  }
  
  &__icon {
    width: 5rem;
    cursor: pointer;
  }

  &__number {
    font-size: 1.8rem;
    position: absolute;
    top: -3px;
    right: 17px;
    color: $color-white;
  }
  
  &__box {
    text-align: left;
    z-index: 10;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 10px;
    overflow: hidden; 
  }
  
  &__item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: $color-white;
    border-bottom: 1px solid $color-grey;
    background-color: rgba(0, 0, 0, .85);
    position: relative;
    
    &-content {
      display: flex;
      padding: 1rem;
      padding-right: 3rem;
      width: 32rem;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .93);
    }
  }

  &__img {
    width: 8rem;
    border-radius: 40%;
  }

  &__text {
    padding-left: 1.5rem;
  }

  &__garbage {
    width: 2.3rem;
    display: inline-block;
    margin-right: 1.5rem;
  }
}


/// Loading 
.lds-ring {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 6px;
    border: 6px solid $color-white;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $color-white transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  